.rc-slider-track {
  background-color: #f00;
}
.rc-slider-rail {
  background-color: #4c4c39;
}
.rc-slider-handle {
  background-color: #2e3441;
  border-color: #2e3441;
}
.rc-slider-handle:focus,
.rc-slider-handle:hover,
.rc-slider-handle:active {
  border-color: #2e3441;
  box-shadow: 0 0 5px #f00;
}